html,
body,
#root {
  height: 100%;
  min-width: 1200px;
}

.list {
  position: relative;
  z-index: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  width: 60%;
  max-height: 400px;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px -10px rgba(0, 0, 0, 0.2);
}

.jumbo {
  /* background-color:#343136; */
  /* background-image: url('./images/logo4.png');
z-index: -1; */
  background-color: white;
}

.projects {
  overflow: hidden;
  user-select: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: rgb(173, 216, 230, 0.1);
}

.codeCard {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  /* background-color:#EEF7FF */
}
.codingLang {
  background-color: rgb(173, 216, 230, 0.1);
}

.codingLang > div,
.myProjects > div {
  /* border-radius: 60px; */
  /* margin-top: 60px; */
  /* border-top: 2px solid blue; */
  /* border-bottom: 2px solid blue; */
  margin-bottom: 20px;
  font-size: 20px;
  height: 400px;
  /* font-weight: bold; */
  /* background-color: rgba(166, 217, 252, 0.1); */
  /* color: rgb(228, 211, 211); */
  /* border-right: 4px solid rgb(173, 216, 230, 0.4);
border-left: 4px solid rgb(173, 216, 230, 0.4); */
  font-family: "Quicksand";
  color: black;
}

codingLang > div:hover {
  box-shadow: 0 0 30px 15px white,
    /* inner white */ 0 0 50px 30px rgb(235, 232, 232),
    /* middle white */ 0 0 60px 20px rgb(170, 213, 248); /* outer white */
  color: rgb(190, 186, 186);
}

.codingLang > div > div {
  margin-top: 40px;
}

.codingSkills {
  /* color: lightgrey; */
  color: grey;
  /* opacity: 0.4; */
  font-family: Quicksand;
}

/* .codingSkills:hover {
  color: white;
  opacity: 1;
} */

/* .myProjects:hover {
  color: grey
} */

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* margin-bottom: 60px; */
}

.trails-text {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: white;
  /* font-size: 1.4em; */
  font-weight: 600;
  letter-spacing: 4px;
  will-change: transform, opacity;
  /* overflow: hidden; */
  height: max-content;
}

.trails-text > div {
  /* overflow: hidden; */
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

/* .trailDiv {
  color: rgb(255, 255, 255);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-left: 20px;
 
} */

.trailDiv2 {
  font-size: calc(100px + 1.2vw);
}

@media (max-width: 860px) {
  .trailDiv2 {
    font-size: calc(100px + 1.4vw);
  }
}

@media (max-width: 400px) {
  .trailDiv2 {
    font-size: calc(90px + 2.6vw);
  }
}

.junior {
  font-size: calc(100px + 1vw);
}

@media (max-width: 400px) {
  .junior {
    font-size: calc(100px + 2.6vw);
  }
}

.info {
  margin-top: 40px;
}

@media (min-width: 350px) {
  .info {
    margin-top: 0px;
  }
}

.square {
  height: 498px;
}

/* @media (max-width:600px) {
  .trailDiv {
  
  }

  .trails-text {

line-height: 54px;
  
  }

  .trails-text > div {
    
 
  }

  .junior {
    line-height: 40px;
   
  }

  .image {
width: 260px;
  }

  .square {
height: 360px;
  }
}

@media (max-width:600px) {
  .trailDiv {
  
  }

  .trails-text {

line-height: 54px;
  
  }

  .trails-text > div {
    
 
  }

  .junior {
    line-height: 40px;
   
  }

  .image {
width: 260px;
  }

  .square {
height: 360px;
  }
} */

/* .projectsButton :hover{
  box-shadow:
  0 0 30px 15px white,  
  0 0 50px 30px rgb(224, 221, 221), 
  0 0 70px 45px rgb(185, 181, 181); 

} */

/* .card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
} */

/* .juniorCoder:hover {
background-color:yellow;
} */

/* .skills:hover{
 text-shadow:4px 4px blue;
} */

/* REACT SLIDER */
.item {
  position: relative;
  width: 400px;
  height: 100px;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.fg {
  cursor: -webkit-grab;
  background-color: #272727;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  font-size: 3em;

  font-weight: 600;
  transition: box-shadow 0.75s;
}

.fg:active {
  cursor: -webkit-grabbing;
  box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
}

.fg > * {
  pointer-events: none;
}

.av {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

/*  */

@media (max-width: 1500px) {
  .otherProjects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
  }
  .otherProjects > div {
    margin-top: 10px;
  }
}

/* .triangle {
width: 0;
height: 0;
border-style: solid;
border-width: 100px 100px 0 100px;
border-color: rgb(248, 242, 242) transparent transparent transparent;
} */

/* .element {
  height: 1000px;
  background-color: #ededed;
  font-size: 45px;
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
} */

/* .active {
  color: red !important;
  
} */

/* .testing {
  width: 100%;
  overflow: hidden;
  margin-left: 0%;
  position: relative;
  animation: testing 5s;
}



@keyframes testing {
   from {
      margin-left: -500px;
   }

   to {
      margin-left: 0%;
   }
} */

#clickme:hover {
  background-color: white;
}

#clickme {
  position: relative;
  animation-name: click;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes click {
  0% {
    background-color: rgb(255, 255, 255, 0);
  }
  25% {
    background-color: rgb(250, 250, 242);
    color: white;
  }
  50% {
    background-color: rgb(255, 255, 255, 0);
  }
  75% {
    background-color: rgb(255, 255, 248);
    color: white;
  }
  100% {
    background-color: rgb(255, 255, 255, 0);
  }
}

.junior,
.codinSkillsText,
.myProjectsText,
.allCodingLang {
  text-align: center;

  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgb(220, 243, 250) 10%,
    rgb(173, 216, 230, 0.2),
    rgb(255, 255, 255) 20%,
    lightgrey 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.image [data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}

@media (max-width) {
  #image {
  }
}

.square {
  position: relative;
  animation: mymove 14s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes mymove {
  from {
    top: 160px;
    align-self: flex-start;
    width: 200px;
    height: 200px;

    /* position: relative;
    opacity: 1; */
  }
  to {
    top: 0;
    align-self: flex-start;
    height: 20px;
    width: 800px;
    position: absolute;
    /* opacity: 1; */
  }
}

#square1 {
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgb(220, 243, 250) 10%,
    rgb(173, 216, 230, 0.2),
    rgb(255, 255, 255) 20%,
    lightgrey 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;

  text-fill-color: transparent;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* .welcome2 {
  width: 100%;
  overflow: hidden;
  margin-left: 0%;
  position: relative;
  animation: testing 5s;
  z-Index: 0;
}



@keyframes testing {
   from {
      margin-left: -500px;
   }

   to {
      margin-left: 0%;
   }
}  */

.welcome2 {
  /* border-right: solid 3px rgba(0,255,0,.75); */
  white-space: nowrap;
  overflow: hidden;
  /* font-family: 'Source Code Pro', monospace;   */
  /* font-size: 28px; */
  /* color: rgba(255,255,255,.70); */
  margin: 0 auto;
}

/* Animation */
.welcome2 {
  animation: animated-text 4s steps(29, end) 1s 1 normal both;
  animation-delay: 10s;
}

.welcome {
  margin-top: 10%;
}

.codingCardsDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .codingCardsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .codingCards {
    margin-top: 20px;
    width: max-content;
  }

  #singleCard {
    min-width: 460px;
  }
}
/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}

/* cursor animations */

/* @keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
} */

.nice {
  position: relative;
  width: max-content;
  height: 160px;
  line-height: 90px;
  color: black;
  font-size: 6.4em;
  font-weight: 800;
  letter-spacing: -9px;
  will-change: transform, opacity;
  overflow: hidden;
}

#nice {
  font-size: calc(60px + 3.2vw);
}

@media (max-width: 600px) {
  #nice {
    font-size: calc(60px + 12vw);
  }
}

/* .arrow {
  width: 0;
height: 0;
border-style: solid;
border-width: 54px 0 54px 54px;
border-color: transparent transparent transparent black;
} */

.arrow2,
.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 54px 54px 0 54px;
  border-color: black transparent transparent transparent;
}

.hi {
  position: relative;
  animation-name: move;
  animation-delay: 0s;
  animation-duration: 12s;
  animation-iteration-count: 1;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.about {
  /* color: rgb(128, 128, 128, 0.1); */
  color: rgb(173, 216, 230, 0.2);
}

.design {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #007bff transparent transparent transparent;
  /* margin-top: 6px; */
  margin-bottom: 20px;
}

.navbarDiv {
  background-color: #343136;
  width: 1200px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0%;
  z-index: 10;
}

.navbar {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.navbutton:hover {
  background-color: lightgreen !important;
}

@media (max-width: 800px) {
  .navbutton {
    font-size: 16px !important;
  }
}

.linkedin:hover {
  color: lightgreen !important;
}

.git:hover {
  color: lightgreen !important;
}

.frontendbutton {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  margin-top: 20px;
  z-index: 9;
  animation-name: frontend;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.innerfrontendbutton {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  font-size: 4vw;
  font-weight: bold;
  font-family: Quicksand;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border: 10px solid lightgrey;
  color: rgb(197, 194, 194);
  /* background-image: url('./images/logo4.png'); */
}

.innerfrontendbutton {
  cursor: pointer;
}

.innerfrontendbutton:hover {
  height: 300px;
  width: 300px;
  color: lightblue;
  border: 10px solid lightblue;
}

@media (max-width: 2000px) {
  .innerfrontendbutton {
    animation-name: circle;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
  @keyframes circle {
    0% {
      border: 10px solid lightgrey;
    }
    50% {
      border: 10px solid lightblue;
    }
    100% {
      border: 10px solid lightgrey;
    }
  }
}

/* @keyframes frontend {
0% {background-color: rgb(255, 255, 255,0); }
25% {width: 300px; height: 300px; background-color: rgb(219, 244, 250,0); border: 10px solid grey;}
50% {background-color: rgb(255, 255, 255,0);}
75% {background-color: rgba(209, 250, 185, 0); border: 10px solid grey;}
100% {background-color: rgb(219, 244, 250,0);}
} */

.rotate {
  animation-name: codeRotation;
  animation-iteration-count: infinite;
  animation-duration: 100s;
}

@keyframes codeRotation {
  100% {
    transform: rotate(720deg);
  }
}

.frontendbutton2 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  /* animation-name: frontend;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: infinite; */
}

.innerfrontendbutton2 {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  font-size: 4vw;
  font-weight: bold;
  font-family: Quicksand;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.navbarneuDiv {
  background-color: rgb(255, 255, 255, 0);
}

/*   
    @media (max-width: 800px) {
     .navbarneuDiv {
visibility: visible !important;
     }
   } */

.navbuttonneu {
  width: 200px;
  right: -40px;
  margin-top: 20px !important;
  /* background-color: lightgrey !important; */
}

@media (max-width: 800px) {
  .navbuttonneu {
    font-size: 16px !important;
  }
}

#linkedin,
#git {
  margin-top: 20px;
}

.navbuttonneu:hover {
  right: 0;
  background-color: lightgreen !important;
}

/* .navbarneuDiv {
    visibility: hidden;
  } */

@media (max-width: 800px) {
  .navbarneuDiv {
    visibility: visible;
  }
}

.send:hover {
  background-color: lightgreen !important;
}

.globe {
  position: absolute;
  z-index: 0 !important;
  animation-name: globe;
  animation-iteration-count: 1;
  animation-duration: 40s;
  margin-top: 40px;
  margin-bottom: 40px;
  color: lightgrey;
}

@keyframes globe {
  0% {
    color: blue;
    transform: rotate(0deg);
    left: 0;
    top: 80%;
  }
  100% {
    color: blue;
    transform: rotate(360deg);
    left: 100%;
    top: 10%;
    margin-top: 0;
  }
}

.palmtree {
  position: absolute;
  z-index: 0 !important;
  animation-name: palmtree;
  animation-iteration-count: 1;
  animation-duration: 30s;
  color: lightgrey;
}

@keyframes palmtree {
  0% {
    color: lightgreen;
    transform: rotate(0deg);
    left: 20%;
    top: 80%;
  }
  100% {
    color: lightgreen;
    transform: rotate(360deg);
    left: 100%;
    top: 10%;
    margin-top: 0;
  }
}

.umbrella {
  position: absolute;
  z-index: 0 !important;
  animation-name: umbrella;
  animation-iteration-count: 1;
  animation-duration: 36s;
  margin-top: 80px;
  margin-bottom: 80px;
  color: lightgrey;
}

@keyframes umbrella {
  0% {
    color: orange;
    transform: rotate(0deg);
    right: 0;
    top: 80%;
  }
  100% {
    color: orange;
    transform: rotate(360deg);
    right: 100%;
    top: 10%;
    margin-top: 0;
  }
}

.student {
  position: absolute;
  z-index: 0 !important;
  animation-name: student;
  animation-iteration-count: 1;
  animation-duration: 38s;
  margin-top: 120px;
  margin-bottom: 120px;
  color: lightgrey;
}

@keyframes student {
  0% {
    color: black;
    transform: rotate(0deg);
    right: 20%;
    top: 80%;
  }
  100% {
    color: black;
    transform: rotate(360deg);
    right: 100%;
    top: 30%;
    margin-top: 0;
  }
}

.people {
  position: absolute;
  z-index: 0 !important;
  animation-name: people;
  animation-iteration-count: 1;
  animation-duration: 20s;
  margin-top: 160px;
  margin-bottom: 160px;
  color: lightgrey;
}

@keyframes people {
  0% {
    color: lightblue;
    transform: rotate(0deg);
    left: 40%;
    top: 80%;
  }
  100% {
    color: lightblue;
    transform: rotate(360deg);
    left: 60%;
    top: 0;
    margin-top: 0;
  }
}

.code {
  position: absolute;
  z-index: 0 !important;
  animation-name: code;
  animation-iteration-count: 1;
  animation-duration: 40s;
  margin-top: 200px;
  margin-bottom: 200px;
  color: lightgrey;
}

@keyframes code {
  0% {
    color: yellow;
    transform: rotate(0deg);
    right: 40%;
    top: 80%;
  }
  80% {
    color: yellow;
    transform: rotate(360deg);
    right: 80%;
    top: 0;
  }
  90% {
    color: yellow;
    font-size: 100px;
    transform: rotate(360deg) !important;
    right: 80%;
    top: 0;
  }
  100% {
    color: yellow;
    font-size: 100px;
    transform: rotate(360deg) !important;
    right: 80%;
    top: 0;
  }
}

@media (max-width: 500px) {
  .iconContainer {
    width: 280vw !important;
    height: 80% !important;
  }
}


.sendIcon {
  position: relative;
  animation-name: send;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes send {
0% {left: 0}
100% {left: 40%}
}